
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


*{   
    margin: 0;
    padding: 0; 
    font-family: 'Josefin Sans', sans-serif;
}

/* Navegadores - Mains */


header img{
    height: 50px;
    padding: 5px;
    margin-left: 25px;
}

.bg-nav {
    background-color: #5A0002;

}

.bg-nav .link-color {
    color: #F5FBEF;
}

.link-color:hover {
    color: #DE541E;
}

.menu {
    background-color: #0B0B1E;
    color: #9BB1FF;
}

/* Sections - parrafos */

.info {
   margin-left: 10px;
}
.h1 {
    padding: 20px 0 10px 0;
    color: #697268;
}

.titulos {
    padding-bottom: 5px;
    padding-top: 5px;
    color:#697268;
}

.info .imagen {
    display: flex;
}


.info .texto {
    justify-content: left;
    padding: 10px 0 10px 0;
}

.info .texto-img {
    justify-content: left;
    width: 900px;
}

.texto-grid {
    display: grid;
    grid-template-columns: 48% 50%;
    grid-template-rows: 200px 300px 100px;
}

.p-grid1 {
    grid-area: 1/1/2/3;
}

.p-grid2 {
    grid-area: 2/2/2/3;
}

.p-grid3 {
    grid-area: 3/1/4/3;
}


.img-texto {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 530px;
    color: #9BB1FF;
}

#dynamo {
    width: 500px;
    height: 250px;
}



/* imagenes y carruseles */

.info #rex-1 {
    height: 200px;
    width: 500px;
    margin: 0 20px;
}

.info #buck {
    height: 200px;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
    justify-content: right;
}

.info #skull {
    height: 250px;
    width: 500px;
    margin-left: 20px;
    justify-content: right;
    margin-bottom: 10px;
}

.carrusel {
    height: 400px;
    width: 100%;
}

/* Sobre Nosotros */

#form {
    align-items: center;
    margin-top: 10px;
}

#form #formulario img {
    height: 50px;
    justify-content: center;
    margin-left: 40%;
    margin-top: 30px;

}

#fondo-form {
    background-color: #876E82;
    padding: 50px;
    width: 400px;
    height: 200px;
    gap: 65px;
    margin-left: 30%;
    
    
}

.formulario-relleno {
    background-color: #ACAD94;
    margin: 3px;
}

.botones {
    margin: 20px;
    justify-content: space-around;
    background-color: #5A4956;
    color: #ACAD94;
}

.video {
    display: flex;
    margin: 5px;
    gap: 10px;
}

/* Footers */

.fin {
    background-color: grey;;
    height: 200px;
    justify-content: space-around;
}

.fin h2 {
    color: #06324B;
    padding: 5px;
}

.fin hr {
    color: #075380;
}

.fin #footer1 {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.fin #footer2 {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.fin #footer1 .links {
    text-decoration: none;
    color: #06324B;
}

.fin #footer2 .links {
    text-decoration: none;
    color: #06324B;
}

.copy {
    padding-top:60px;
    justify-content: center;
}
