@import "partials/reset";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import "partials/navbar";
@import "partials/menu";

@import "partials/mq";

.texto-grid {
    display: grid;
    grid-template-columns: 48% 50%;
    grid-template-rows: 230px 360px 100px;
    padding: 20px;
}

.p-grid1 {
    grid-area: 1/1/2/3;
}

.p-grid2 {
    grid-area: 2/2/2/3;
}

.p-grid3 {
    grid-area: 3/1/4/3;
    
}


.img-texto {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 530px;
    color: #9BB1FF;
}

texto-img {
    justify-content: left;
    width: 900px;
}

#dynamo {
    width: 500px;
    height: 250px;
}



/* Sobre Nosotros */

#form {
    align-items: center;
    margin: 10px 0 0 0;
}

#form #formulario img {
    height: 50px;
    justify-content: center;
    margin-left: 40%;
    margin-top: 30px;

}

#fondo-form {
    background-color: #876E82;
    padding: 50px;
    width: 400px;
    height: 400px;
    gap: 65px;
    margin-left: 30%;
    
    
}

.formulario-relleno {
    background-color: #ACAD94;
    margin: 3px;
}

.botones {
    margin: 20px;
    justify-content: space-around;
    background-color: #5A4956;
    color: #ACAD94;
}

.video {
    display: flex;
    width: 400px;
    margin: 5px;
    gap: 10px;
}

/* Footers */

.fin {
    align-items: flex-end;
    background-color: grey;;
    justify-content: space-around;
    height: 300px;
}

.fin h2 {
    color: #06324B;
    padding: 5px;
}

.fin hr {
    color: #075380;
}

.fin #footer1 {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    
}

.fin #footer2 {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.fin #footer1 .links {
    text-decoration: none;
    color: #06324B;
}

.fin #footer2 .links {
    text-decoration: none;
    color: #06324B;
}

.copy {
    padding-top:60px;
    justify-content: center;
}




/* MQs */
