@import "./medias.queries";

.fin {
    align-items: flex-end;
    background-color: grey;;
    justify-content: space-around;
    height: 300px;

    h2 {
        color: #06324B;
        padding: 5px;
    }

    hr {
        color: #075380;
    }

    @mixin link {
        text-decoration: none;
        color: #06324B;
    } 

    #footer1 {
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        list-style: none;

        .links {
            @include link;
        }
        
        
    }

    #footer2 {
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        list-style: none;

        .links {
            @include link;
        }
    }

   

    .copy {
        padding-top:60px;
        justify-content: center;
    }
    
}