header {
    .bg-nav {
        background-color: map-get($map: $colores,nav );

        .link-color {
            color: map-get($map: $colores, links );
            &:hover {
                color: #DE541E;
            }
        }
    
    }
    img {
    height: 50px;
    padding: 5px;
    margin-left: 25px;
}
}
